* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(94, 212, 228); /* Add yellow background color */
    overflow-y: scroll; /* Enable vertical scrolling */
}

header {
    background: #333;
    color: whitesmoke;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

section {
    padding: 2rem 0;
    text-align: center;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .burger {
        display: block;
    }
}
